*{
    text-decoration: none;
}
body{
    font-family: 'arial', sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #343a40;
}
.hero {
    padding: 10px 10px;
    text-align:center;
    background-image:url(img/background-image.jpg);
    background-size:cover;
    background-position:center;
    background-color:#a7d1eb;
    color: #fff;
}
.hero h1 {
    font-size: 3em;
    font-weight: 600;
    color: darkcyan;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5)
    margin-bottom:15px
}
.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.hero button {
    background-color: #007bff;
    color:white;
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hero button:hover {
    background-color: #0056b3;
}
.features {
    padding:40px 20px;
    background-color: #fff;
}
.features h2 {
    text-align:center;
    margin-bottom: 30px;
    font-size:2em;
    color: #007bff;
}
.features-grid {
    display:flex;
    flex-wrap: wrap;
    gap:30px;
    max-width:960px;
    margin: 0 auto;
}
.features-item {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align:center;
}
.features-item h3 {
    font-size: 1.5em;
    color: #28a745;
    margin-bottom: 10px;
}
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding:30px 20px;
    font-size: 0,9em;
}
footer p {
    color:#f8f9fa;
    text-decoration:none;
    margin: 0 15px;
    transition: color 0.3s ease;
}
.footer-links {
    color:#f8f9fa;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}
.footer-links:hover {
    color:#007bff
    text-decoration:underline;
}
@media  (max-width:768px) {
    .features-grid{
        flex-direction:column;
        .features-item {
            min width: auto;
            margin-bottom: 20px;
        }
    }
}
